<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" type="text/css" media="" href=" {% static 'appP3/maincss.css' %} ">

</head>
<body>

<header>
<nav>
    <div id="barra">
        <ul id='menu'>
            <li><a href="" onclick="document.getElementById('archivo1').click();"> Cargar Archivo
            </a></li>
            <li><a href="">Peticiones</a>
                <ul>
                    <li> <a href=""> Colsultar Datos </a> </li>
                    <li> <a href="">Filtrar Datos por Fecha y Usuario</a> </li>
                    <li> <a href="">Filtar por Fecha y Codigo de Error</a> </li>
                </ul>
            </li>
            <li><a href="">Ayuda</a>
                <ul>
                    <li><a href="">Informacion</a></li>
                    <li><a href="">Documentacion</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>

</header>

<div id = "areas">
    <form action = "" method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <input id="file" name="file" type="file" value="Cargar Archivo" />

        <button id="Enviar" type="submit" >Enviar</button>
     </form>


    <textarea   id = "Area1" readonly = "yes" style="">
        {{datosEntrada1}}
    </textarea>

    <textarea   id = "Area2" readonly = "yes" style="">
        Hard - ubica un enter al final de cada linea y envía el texto en el mismo formato en el que fue introducido.
    </textarea>


</div>
</body>

</html>
